/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/
$font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

$letter-spacing: (
  1: 0.01rem,
  2: 0.02rem,
  3: 0.03rem,
  4: 0.04rem,
  5: 0.05rem,
  6: 0.06rem,
  7: 0.07rem,
  8: 0.08rem,
  9: 0.09rem,
);

$font-sizes: (
  h1: 48pt,
  h2: 38pt,
  h3: 24pt,
  h4: 18pt,
  h5: 16pt,
  h6: 14pt,
  h7: 11pt,
);
